// ------------------------------------
//   #TOOLTIP
//   styles
// ------------------------------------
 
.c-tooltip {
	position: relative;
	display: inline-block;
	color: $color-tooltip-background;
	//text-align: center;
	@include hocus() {
		.c-tooltip__text-static {
       		visibility: visible;
       		opacity: 1;
    	}
    }	
    // non javascript version using span  
	& .c-tooltip__text-static{
		color:$color-tooltip-text;	
		visibility:hidden;
		background-color: $color-tooltip-background;
		//text-align: center;
		padding: 1rem;
		width: 10rem;
		position: absolute;
		z-index: 1;
		opacity: 0;
    	transition: opacity 0.1s;
		
    	&--right{
    		left: 110%;
    		top: -110%;
    		&::after {
    			content:' ';
    			position: absolute;
    			top: 50%;
    			right: 100%; //to the right of the tooltip
    			margin-top: -.5rem;
			    border-width: .5rem;
			    border-style: solid;
			    border-color:  transparent  $color-tooltip-background transparent transparent;
    		}
    	}
    	&--left{
			right: 105%;
			top: -110%;
			&::after {
    			content:' ';
    			position: absolute;
    			top: 50%;
    			left: 100%; //to the left of the tooltip
    			margin-top: -.5rem;
			    border-width: .5rem;
			    border-style: solid;
			    border-color:  transparent transparent transparent  $color-tooltip-background ;
    		}
	   	}
	   	&--top{
	   		bottom: 100%;
	   		margin-left: 2rem;
	   		&::after {
    			content:' ';
    			position: absolute;
    			bottom: 100%;
    			left: 50%;  
    			margin-top: -.5rem;
			    border-width: .5rem;
			    border-style: solid;
			    border-color:  transparent transparent $color-tooltip-background  transparent ;
    		}
	   	}
	   	&--bottom{
	   		top: 100%;
	   		margin-left:2rem ;
	   		&::after {
    			content:' ';
    			position: absolute;
    			top: 100%;
    			left: 50%; 
    			margin-top: -.5rem;
			    border-width: .5rem;
			    border-style: solid;
			    border-color: $color-tooltip-background transparent transparent transparent ;
    		}
	   	}
	   }
//This is styling for the Javascript version
	&__text{
		color:$color-tooltip-text;	
		background-color: $color-tooltip-background;
		padding: 1rem;
		max-width: 10rem;
		position: absolute;
		z-index: 1;
		transition: opacity 0.1s;
    	top: 100%;
	   	margin-left: 2rem;
	   		
		 @include breakpoint($screen-only, $mobile-to) {
		 	&--mobile{
		 		padding : 2.5rem 1.25rem 2rem;
		 		 
		 		margin-left:0;
				&::after {
					content:'';
	    			position: absolute;
				}
			}
		 }	

	   	&--right{
    		left: 110%;
    		top: -110%;
    		margin-right:2rem;
    		margin-left: 0;
    		&::after {
    			content:'';
    			position: absolute;
    			top: 50%;
    			left: 100%; 
    			 
    			margin-top: -.5rem;
			    border-width: .5rem;
			    border-style: solid;
			    border-color:  transparent   transparent transparent $color-tooltip-background; 
    		}
    	}
    	&--left{
			right: 0;
			top: -110%;
			margin-left: 2rem;
			&::after {
    			content:'';
    			position: absolute;
    			top: 50%;
    			right: 100%; 
    			margin-top: -.5rem;
			    border-width: .5rem;
			    border-style: solid;
			    border-color:  transparent $color-tooltip-background transparent transparent   ;
    		}
	   	}
	   	&--top{
	   		
	   		margin-left:0;
	   		&::after {
    			content:'';
    			position: absolute;
    			bottom: 100%;
    			left: 45%;  
    			margin-top: -.5rem;
			    border-width: .5rem;
			    border-style: solid;
			    border-color:  transparent transparent $color-tooltip-background  transparent ;
    		}
	   	}
	   	&--top--right{
	   		margin-left: 0;
	   		&::after {
    			content:'';
    			position: absolute;
    			bottom: 100%;
    			right: 1rem;
    			margin-top: -.5rem;
			    border-width: .5rem;
			    border-style: solid;
			    border-color: transparent transparent $color-tooltip-background transparent ;
    		}
	   	}
	   	&--top--left{
	   		margin-left: 0;
	   		&::after {
    			content:'';
    			position: absolute;
    			bottom: 100%;
    			left: 1rem;
    			margin-top: -.5rem;
			    border-width: .5rem;
			    border-style: solid;
			    border-color: transparent transparent $color-tooltip-background transparent ;
    		}
	   	}
	   	&--bottom{
	   		top: 100%;
	   		margin-left: 0;
	   		&::after {
    			content:'';
    			position: absolute;
    			top: 100%;
    			left: 45%; 
    			margin-top: 0;
			    border-width: .5rem;
			    border-style: solid;
			    border-color: $color-tooltip-background transparent transparent transparent ;
    		}
	   	}
	   	&--bottom--right{
	   		top: 100%;
	   		margin-left: 0;
	   		&::after {
    			content:'';
    			position: absolute;
    			top: 100%;
    			right: 1rem;
    			 
    			margin-top: 0;
			    border-width: .5rem;
			    border-style: solid;
			    border-color: $color-tooltip-background transparent transparent transparent ;
    		}
	   	}
	   	

	}
	 
}
