// Component for masthead on landing pages and Marketing campaigns
.c-masthead {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
 

   
  // content starts off as 50% with or without a border
  &__content {
    border: 0.07rem solid $color-grey;
    background-color: $color-page-background;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    padding: 1rem;
    margin-bottom: 1rem;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-height: 1px; //IE11 fix
    max-width: 50%;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    //content with 100% to vary widths within masthead
    &--fullwidth {
      max-width: 100%;
      -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }

    //no border on content component
    &--no-border {
      border: none;
    }

    //allow for heading and footer elements

    &__heading {
      padding-top: 1rem;
    }

    &__footer {
      padding-top: 1rem;
      padding-bottom: 1.5rem;
    }

    // media container allows for video or image or background image 50% default 

    &--media {
      align-items: flex-end;
      border: none;
      display: flex;
      box-align: end;
      -moz-box-align: end;
      -o-box-align: end;
      -ms-box-align: end;
      -webkit-box-align: end;
      -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      padding: 0;
      //allow for max width 100% for background images on variable masthead viewports
        &--fullwidth{
          max-width: 100%;
        }



      //hover states - not sure if required
      &-link:hover &-image {
        -webkit-filter: brightness(80%);
        -moz-filter: brightness(80%);
        -o-filter: brightness(80%);
        -ms-filter: brightness(80%);
        filter: brightness(80%);
      }
    }

    // tablet and mobile 100% flex basis width
    @include breakpoint($screen-only, $tablet-from, $tablet-to) {
      &--tablet-fullwidth {
        flex-basis: 100%;
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        max-width: 100%;
      }
    }
    @include breakpoint($screen-only, $mobile-to) {
      &--mobile-fullwidth {
        flex-basis: 100%;
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        max-width: 100%;
      }
    }
    //this is to allow for placement of background image within the container

    &--cover {
      background-size: cover;
      background-position: center right;
    }

    &--contain {
      background-size: contain;
      background-position: right bottom;
    }

    // these allow for background image to be placed in the html
    &--bg-default {
      background-position: center right;
    }

    &--bg-center {
      background-position: center center;
    }

    &--bg-top-right {
      background-position: top right;
    }

    &--bg-top-center {
      background-position: top center;
    }
    &--bg-center-bottom {
      background-position: center bottom;
    }

    @include breakpoint($screen-only, $mobile-to) {
      html.rwd & {
        &--sm-contain {
          //background-size: contain;
          background-repeat: no-repeat;
          background-size: auto 11rem;
        }
        &--sm-bg-hide {
          //background-size: contain;
          background-size: auto 0;
        }
        &--sm-cover {
          background-size: cover;
        }

        &--sm--bg-default {
          background-position: center right;
        }

        &--sm-bg-center {
          background-position: center center;
        }
      }
    }

    //Tablet view
    @include breakpoint($screen-only, $tablet-from, $tablet-to) {
      html.rwd &--nogrow-md {
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
      }
    }
  }
}
