// ------------------------------------
//   #TEXTSIZES
//   styles
// ------------------------------------
.u-s25p {
    font-size: 25% !important;
}

.u-s33p {
    font-size: 33% !important;
}

.u-s50p {
    font-size: 50% !important;
}

.u-s60p {
    font-size: 60% !important;
}

.u-s66p {
    font-size: 66% !important;
}

.u-s75p {
    font-size: 75% !important;
}

.u-s90p {
    font-size: 90% !important;
}

.u-s125p {
    font-size: 125% !important;
}

.u-s150p {
    font-size: 150% !important;
}

.u-s200p {
    font-size: 200% !important;
}

.u-sh1 {
    font-size: $font-size-h1 !important;
}

.u-sh2 {
    font-size: $font-size-h2 !important;
}

.u-sh3 {
    font-size: $font-size-h3 !important;
}

.u-sh4 {
    font-size: $font-size-h4 !important;
}

.u-sh5 {
    font-size: $font-size-h5 !important;
}

.u-sh6 {
    font-size: $font-size-h6 !important;
}
.u-font-4{
    font-size:4rem !important;
}
.u-font-5{
    font-size:5rem !important;
}
.u-font-6{
    font-size:6rem !important;
}
.u-font-7{
    font-size:7rem !important;
}
.u-font-8{
    font-size:8rem !important;
}





