//*------------------------------------*\//  #COLOURS
//------------------------------------*/
.color-white { 
	color: $color-page-background;
}
.color-brand-primary { 
	color: $color-brand-primary;
}
.color-brand-secondary { 
	color: $color-brand-secondary;
}
.color-brand-red {
	color: $color-brand-red;
}
.color-brand-blue { 
	color: $color-brand-blue;
}
.color-brand-blue-dark { 
	color: $color-brand-blue-dark;
}
.color-brand-orange { 
	color: $color-brand-orange;
}
.color-brand-orange-dark { 
	color: $color-brand-orange-dark;
}
.color-brand-turquoise { 
	color: $color-brand-turquoise;
}
.color-brand-turquoise-dark { 
	color: $color-brand-turquoise-dark;
}
.color-brand-pink { 
	color: $color-brand-pink;
}
.color-brand-pink-dark { 
	color: $color-brand-pink-dark;
}
.color-brand-green { 
	color: $color-brand-green;
}
.color-brand-green-dark { 
	color: $color-brand-green-dark;
}
.color-brand-teal { 
	color: $color-brand-teal;
}
.color-brand-teal-dark { 
	color: $color-brand-teal-dark;
}
.color-brand-violet { 
	color: $color-brand-violet;
}
.color-brand-violet-dark{ 
	color: $color-brand-violet-dark;
}
.color-brand-yellow { 
	color: $color-brand-yellow;
}
.color-brand-yellow-dark { 
	color: $color-brand-yellow-dark;
}
.color-brand-brick { 
	color: $color-brand-brick;
}
.color-brand-brick-dark { 
	color: $color-brand-brick-dark;
}

.color-text-default {
	color: $color-page-text;
}

.color-grey { 
	color: $color-grey;
}
.color-grey-dark { 
	color: $color-grey-dark;
}
.color-grey-light { 
	color: $color-grey-light;
}
.color-grey-black { 
	color: $color-grey-black;
}


.bg-grey { 
	background-color: $color-grey;
}
.bg-grey-dark { 
	background-color: $color-grey-dark;
}
.bg-grey-light { 
	background-color: $color-grey-light;
}
.bg-grey-black { 
	background-color: $color-grey-black;
}




.bg-brand-primary { 
	background-color: $color-brand-primary;
}
.bg-brand-secondary { 
	background-color: $color-brand-secondary;
}
.bg-brand-red {
	background-color: $color-brand-red;
}
.bg-brand-blue { 
	background-color: $color-brand-blue;
}
.bg-brand-blue-dark { 
	background-color: $color-brand-blue-dark;
}
.bg-brand-orange { 
	background-color: $color-brand-orange;
}
.bg-brand-orange-dark { 
	background-color: $color-brand-orange-dark;
}
.bg-brand-turquoise { 
	background-color: $color-brand-turquoise;
}
.bg-brand-turquoise-dark { 
	background-color: $color-brand-turquoise-dark;
}
.bg-brand-pink { 
	background-color: $color-brand-pink;
}
.bg-brand-pink-dark { 
	background-color: $color-brand-pink-dark;
}
.bg-brand-green { 
	background-color: $color-brand-green;
}
.bg-brand-green-dark { 
	background-color: $color-brand-green-dark;
}
.bg-brand-teal { 
	background-color: $color-brand-teal;
}
.bg-brand-teal-dark { 
	background-color: $color-brand-teal-dark;
}
.bg-brand-violet { 
	background-color: $color-brand-violet;
}
.bg-brand-violet-dark{ 
	background-color: $color-brand-violet-dark;
}
.bg-brand-yellow { 
	background-color: $color-brand-yellow;
}
.bg-brand-yellow-dark { 
	background-color: $color-brand-yellow-dark;
}
.bg-brand-brick { 
	background-color: $color-brand-brick;
}
.bg-brand-brick-dark { 
	background-color: $color-brand-brick-dark;
}
.bg-brand-purple-lightest { 
	background-color: $color-brand-purple-tint-90;
}
.bg-blue-lightest { 
	background-color: $color-blue-lightest;
}
.bg-grey-lightest { 
	background-color: $color-grey-lightest;
}
.bg-blue-light {
	background-color: $color-table-tr-background-even;
}
.bg-campaign-blue {
	background-color: $color-campaign-blue;
}
.bg-color-white { 
	background-color: $color-page-background;
}

.bg-color-warning {
    background-color: $color-notification-warning;
}